<h1>Tweets, yo</h1>

{{#each tweet in tweets}}
  <li class = well row>
    {{#if tweet.clicked}}
      <li>{{tweet.date}}</li>
      <form>
        <div class="form-group">
          {{input class="reply form-control" value=tweet.reply}}
        </div>
        <button class="btn btn-info" {{action 'addReply' tweet}}>Reply</button>
      </form>
        {{#each reply in tweet.comments}}
          <li>{{reply}}</li>
        {{/each}}
      {{else}}
      <p {{action 'isClicked'}}>{{tweet.text}}</p>
    {{/if}}
  </li>
{{/each}}
